vendor/
.idea/
composer.lock
*.cache
.env

src/Infraestrutura/ArmazenamentoDeArquivos
src/Infra/Api/Public/logs.txt

docker/rabbitmq/.erlang.cookie

docker/postgres/mnesia/

docker/rabbitmq/mnesia/
docker/redis/dump.rdb
docker/redis/data

docker/redis/appendonlydir/
node_modules

package-lock.json

**/*/temp/*
src/Aplicacao/Comandos/Clientes/GerarDocumentoApartirDoModelo/temp
tests/Infraestrutura/Adaptadores/Docx/word_extracted

src/Infraestrutura/BancoDeDados/Backup/__pycache__/

src/Infraestrutura/BancoDeDados/Backup/backups/

src/Infraestrutura/Adaptadores/ConsultarInformacoesNaInternet/*.json
src/Infraestrutura/Adaptadores/Processos/*.json


!src/Infraestrutura/Adaptadores/ConsultarInformacoesNaInternet/resposta_mockada.json
!src/Infraestrutura/Adaptadores/Processos/resposta_processo_cnj_mockado.json
!src/Infraestrutura/Adaptadores/Processos/resposta_processos_mockado.json
!src/Infraestrutura/Adaptadores/Processos/resposta_movimentacoes_mockada.json
!src/Infraestrutura/Adaptadores/Processos/resposta_processo_resumo_ia_solicitacao_mockado.json
!src/Infraestrutura/Adaptadores/Processos/resposta_processo_resumo_ia_mockado.json


/home/github/jusizi/tests/Integracao/Api/access_token.txt
tests/Integracao/Api/access_token.txt

src/Aplicacao/Compartilhado/Credenciais/url_webhooks_discord.php
src/Aplicacao/Compartilhado/Credenciais/jusizi-firebase-admin-sdk.json